<li>
  <div class="name-and-location">
    <strong><%= mail_to user.email, user.name %></strong> - <em><%= user.location || 'No Location' %> (<%= user.time_zone || 'Unknown Timezone' %>)</em>
  </div>

  <% if user.bio.present? %>
  <div class="bio"><strong>About me:</strong> <%= user.bio %></div>
  <% end %>

  <% if user.skills.present? %>
  <div class="skills"><strong>Skills:</strong> <%= user.skills %></div>
  <% end %>

  <% if user.network_opps.present? %>
  <div class="looking-for"><strong>I want to network with:</strong> <%= user.network_opps %></div>
  <% end %>

  <div class="flags">
    <% if user.looking_for_work %>
      <span class="green">&#x2713; I'm looking for work!</span>
    <% else %>
      <span class="red">&#x2717; I'm not looking for work</span>
    <% end %>

    <% if user.remote %>
      <span class="green">&#x2713; I work remotely</span>
    <% end %>

  </div>

</li>