<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= stylesheet_link_tag "join", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<script type="text/javascript" src="//use.typekit.net/yiq5pjg.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div class="mast">
			<div class="wrapper">
				<div class="logo"><strong>The Freelancers Guild v2.0</strong></div>
				<div class="announcement">WINTER 2014 kicks off on February 17</div>
			</div>
		</div>
		<div class="header">
			<h1>Don't let <strong>dumb luck</strong> make or break your freelancing business.</h1>

			<div class="cta-main">
				<div class="wrapper">
					<iframe src="//fast.wistia.net/embed/iframe/yhg5ue8809?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="720" height="405"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
				</div>

				<h2>
					Applications open <span>February 7 @ Noon EST</span>
				</h2>

				<p>
					<a href="#">Interested in joining the WINTER 2014 Semester? Click here!</a>
				</p>

			</div>
		</div>

	</body>
</html>

<!-- 			<ul>
				<% User.all.shuffle.each do |user| %>
					<% next if user.email =~ /msthorn|hansv|bigoh|consumedbycode|laurian|kgelster|makeropspro|genlack|harrisonis|bitsuites/ %>
					<li><img src="<%= user.avatar_url(90) %>" width="90" onerror="$(this).parent().remove()" title="<%= user.email %>" /></li>
				<% end %>
			</ul> -->