<ul class="nav">
  <% if user_signed_in? %>
    <li class="course">
    	<%= link_to 'Course', course_modules_path %>
    </li>
    <li class="discussion">
    	<%= link_to 'Discussion', ENV['DISCOURSE'] %>
    </li>
    <li class="resources">
    	<%= link_to 'Resources', resource_path %>
    </li>
    <li class="edit_account">
    	<%= link_to 'Edit account', edit_user_registration_path, :class => "edit_account_link" %>
    	<%= link_to 'Logout', destroy_user_session_path, :method=>'delete', :class => "logout" %> 
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', admin_users_path %>
      </li>
    <% end %>

  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
</ul>